---
import Icon from "./Icon.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"a">, "title"> {
  title: string;
}

const { title, ...attributes } = Astro.props;
---

<div
  class="relative grid grid-cols-[1fr_auto] gap-2 rounded border border-gray-200 p-4 shadow transition-colors hover:border-gray-400"
>
  <span class="flex flex-col gap-2">
    <a {...attributes} class="no-underline">
      <span class="text-xl font-semibold text-black dark:text-white" set:html={title} />
    </a>
    <slot />
  </span>
  <Icon name="right-arrow" class="rtl:flip" />
</div>

<style>
  /* a11y fix for https://github.com/withastro/starlight/issues/487 */
  a::before {
    content: "";
    position: absolute;
    inset: 0;
  }
</style>
